# Xcode
*.xcodeproj/xcuserdata/
*.xcworkspace/xcuserdata/
*.xcodeproj/project.xcworkspace/xcshareddata/swiftpm/
DerivedData/
build/
*.pbxuser
*.mode1v3
*.mode2v3
*.perspectivev3
*.hmap
*.ipa
*.dSYM.zip
*.dSYM

# Firebase
GoogleService-Info.plist

# Swift Package Manager
.build/
Packages/

# CocoaPods
Pods/

# OS
.DS_Store
*.swp
*~

# Secrets
*.env
